Websocket Connect Headers

### What can't you do?

I have a Websocket server that requires the `Authorization`  header to be set to identify clients between sessions.

Additionally it needs the optional `Sec-WebSocket-Protocol` header set, but s&box already supports sub-protocol thankfully 😄 

### How would you like it to work?

The HTTP `RequestAsync` method allows adding most headers with a param, would be great if Websocket `Connect` worked this way too.

This lines up with the [RFC6455](https://datatracker.ietf.org/doc/html/rfc6455#section-4):
>  The request MAY include any other header fields, for example,
cookies [[RFC6265](https://datatracker.ietf.org/doc/html/rfc6265)] and/or authentication-related header fields
such as the |Authorization| header field [[RFC2616](https://datatracker.ietf.org/doc/html/rfc2616)], which are
processed according to documents that define them.

### What have you tried?

- explored manually sending the HTTP request and then using that to create a websocket
- started building a websocket proxy server to convert s&box [steam tickets ](https://docs.facepunch.com/s/sbox-dev/doc/auth-tokens-qGVLV3Chzn) into identity headers and add the headers to the upgrade request. This was an unfruitful & fragile headache

### Additional context

_No response_