WebSocket: Handle close handshake

### What it is?

Right now the `Sandbox.WebSocket` does not do any part of the closing handshake as defined in [RFC6455 section 1.4](https://www.rfc-editor.org/rfc/rfc6455#section-1.4). Currently, invoking `Dispose` (the only method to stop the web socket) just closes everything on the client side and sends nothing to the server to indicate what is going on.

### What should it be?

The web socket should at least send a single [close frame](https://www.rfc-editor.org/rfc/rfc6455#section-5.5.1) so that a server can be aware of what is going on and not have to treat all disconnects as timeouts.